body {
    font-family: sans-serif;
    margin: 0;
}
header{
    background-color: blueviolet;

}

header img{

    width: 20%;
   height: 20%;
}
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
nav a{
   text-decoration: none;
   border: 2px solid;
   padding: 0.5%;
   border-radius: 30px;
}

.rosk {
    border-color: pink;
}

main h2{
    text-align: center;
    color: rebeccapurple;
    border: 1px solid;
    border-radius: 2px;
    text-decoration: none;
    width: 50%;
    margin-left: 25%;
}

.log{
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
}

.lesson{
    background-color: blueviolet;
    color: white;
    width: 25%;
    margin-left: 3%;
    padding: 1%;
}

.shop{
    background-color: blueviolet;
    color: cornsilk;
    padding: 1%;
    text-decoration: none;
    margin-left: 3%;
    width: 45%;
}

footer{
   background-color: blueviolet;
   padding: 1%;
   margin-top: 6%;
}

footer p{
    background-color: white;
    padding: 0.7%;

    
}
ul{
    list-style: none;
    font-size:20px;
}
.li1{
    list-style:url("li1.jpg")
}
.li2{
    list-style:url("li2.jpg")
}
.li3{
    list-style:url("li3.png")
}
.li4{
    list-style:url("li4.png")
}
.li5{
    list-style:url("li5.jpg")
}
